In [1]:
import mysql.connector
import streamlit as st

# Establish a connection to MySQL Server

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="Fest_Database"


)
mycursor=mydb.cursor()
print("Connection Established")

Connection Established

In [3]:
mycursor.execute("select * from participant;")
myresult=mycursor.fetchall()

for x in myresult:
    print(x)

('P1001', 'John Smith', 'Computer Science', 5, 'Male')
('P1002', 'Emily Johnson', 'Electrical', 6, 'Female')
('P1003', 'Michael Williams', 'Mechanical', 4, 'Male')
('P1004', 'Sophia Brown', 'Civil', 7, 'Female')
('P1005', 'Jacob Jones', 'Chemical', 5, 'Male')
('P1006', 'Olivia Davis', 'Computer Science', 6, 'Female')
('P1007', 'Ethan Miller', 'Electrical', 4, 'Male')
('P1008', 'Ava Wilson', 'Mechanical', 7, 'Female')
('P1009', 'William Taylor', 'Civil', 5, 'Male')
('P1010', 'Emma Anderson', 'Chemical', 6, 'Female')
('P1011', 'Liam Martinez', 'Computer Science', 5, 'Male')
('P1012', 'Isabella Thompson', 'Electrical', 6, 'Female')
('P1013', 'James Harris', 'Mechanical', 4, 'Male')
('P1014', 'Mia Davis', 'Civil', 7, 'Female')
('P1015', 'Benjamin Clark', 'Chemical', 5, 'Male')
('P1016', 'Charlotte Baker', 'Computer Science', 6, 'Female')
('P1017', 'Daniel Lopez', 'Electrical', 4, 'Male')
('P1018', 'Amelia Turner', 'Mechanical', 7, 'Female')
('P1019', 'Henry Hill', 'Civil', 5, 'Male')
('P1020', 'Victoria Young', 'Chemical', 6, 'Female')
('P1021', 'David Lee', 'Computer Science', 5, 'Male')
('P1022', 'Sofia Green', 'Electrical', 6, 'Female')
('P1023', 'Christopher Moore', 'Mechanical', 4, 'Male')
('P1024', 'Scarlett Evans', 'Civil', 7, 'Female')
('P1025', 'Andrew Martinez', 'Chemical', 5, 'Male')

In [4]:
#inserting new values into the participant table 
mycursor.execute("insert into participant values('P1026','jhonwick','Assissanation',7,'Male');") 
mycursor.execute("select * from participant;")
myresult=mycursor.fetchall()

for x in myresult:
    print(x)

('P1001', 'John Smith', 'Computer Science', 5, 'Male')
('P1002', 'Emily Johnson', 'Electrical', 6, 'Female')
('P1003', 'Michael Williams', 'Mechanical', 4, 'Male')
('P1004', 'Sophia Brown', 'Civil', 7, 'Female')
('P1005', 'Jacob Jones', 'Chemical', 5, 'Male')
('P1006', 'Olivia Davis', 'Computer Science', 6, 'Female')
('P1007', 'Ethan Miller', 'Electrical', 4, 'Male')
('P1008', 'Ava Wilson', 'Mechanical', 7, 'Female')
('P1009', 'William Taylor', 'Civil', 5, 'Male')
('P1010', 'Emma Anderson', 'Chemical', 6, 'Female')
('P1011', 'Liam Martinez', 'Computer Science', 5, 'Male')
('P1012', 'Isabella Thompson', 'Electrical', 6, 'Female')
('P1013', 'James Harris', 'Mechanical', 4, 'Male')
('P1014', 'Mia Davis', 'Civil', 7, 'Female')
('P1015', 'Benjamin Clark', 'Chemical', 5, 'Male')
('P1016', 'Charlotte Baker', 'Computer Science', 6, 'Female')
('P1017', 'Daniel Lopez', 'Electrical', 4, 'Male')
('P1018', 'Amelia Turner', 'Mechanical', 7, 'Female')
('P1019', 'Henry Hill', 'Civil', 5, 'Male')
('P1020', 'Victoria Young', 'Chemical', 6, 'Female')
('P1021', 'David Lee', 'Computer Science', 5, 'Male')
('P1022', 'Sofia Green', 'Electrical', 6, 'Female')
('P1023', 'Christopher Moore', 'Mechanical', 4, 'Male')
('P1024', 'Scarlett Evans', 'Civil', 7, 'Female')
('P1025', 'Andrew Martinez', 'Chemical', 5, 'Male')
('P1026', 'jhonwick', 'Assissanation', 7, 'Male')

In [6]:
mycursor.execute("desc participant;")
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

('SRN', b'varchar(10)', 'NO', 'PRI', None, '')
('name', b'varchar(25)', 'NO', '', None, '')
('department', b'varchar(20)', 'YES', '', None, '')
('semester', b'int', 'YES', '', None, '')
('gender', b"enum('Male','Female')", 'YES', '', None, '')