In [1]:
import mysql.connector
import streamlit as st

# Establish a connection to MySQL Server

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="Fest_Database"


)
mycursor=mydb.cursor()
print("Connection Established")

Connection Established

In [5]:
mycursor.execute("select * from member;")
myresult=mycursor.fetchall()

for x in myresult:
    print(x)

('M0001', 'Aditya Vikas', datetime.date(2002, 7, 31), None, 'T0001')
('M0002', 'N Kumar', datetime.date(2004, 1, 16), 'M0001', 'T0001')
('M1', 'John Doe', datetime.date(1995, 5, 10), None, 'T1')
('M10', 'Jessica Brown', datetime.date(1995, 7, 18), 'M8', 'T2')
('M11', 'Christopher Wilson', datetime.date(1996, 10, 22), None, 'T3')
('M12', 'Sophia Taylor', datetime.date(1997, 1, 30), 'M11', 'T3')
('M13', 'William Moore', datetime.date(1993, 6, 8), 'M11', 'T3')
('M14', 'Olivia Clark', datetime.date(1994, 9, 14), 'M11', 'T3')
('M15', 'Andrew Lee', datetime.date(1995, 12, 20), 'M14', 'T3')
('M16', 'Emma Martinez', datetime.date(1996, 3, 28), 'M11', 'T3')
('M17', 'Matthew Harris', datetime.date(1994, 2, 5), 'M14', 'T3')
('M18', 'Olivia Adams', datetime.date(1995, 5, 11), 'M14', 'T3')
('M19', 'Emily Walker', datetime.date(1994, 12, 8), 'M21', 'T4')
('M2', 'Alice Smith', datetime.date(1996, 8, 15), 'M1', 'T1')
('M20', 'Sophia Hall', datetime.date(1997, 11, 21), 'M22', 'T4')
('M21', 'Michael Turner', datetime.date(1993, 10, 2), 'M22', 'T4')
('M22', 'Daniel Clark', datetime.date(1996, 8, 16), None, 'T4')
('M23', 'Jacob Lewis', datetime.date(1996, 3, 15), 'M21', 'T4')
('M24', 'Mia Rodriguez', datetime.date(1997, 6, 21), 'M22', 'T4')
('M25', 'Daniel Robinson', datetime.date(1993, 9, 1), 'M23', 'T4')
('M26', 'Ava Walker', datetime.date(1994, 12, 6), 'M23', 'T4')
('M27', 'William Turner', datetime.date(1995, 3, 13), None, 'T5')
('M28', 'Sophia Williams', datetime.date(1996, 6, 19), 'M27', 'T5')
('M29', 'Jacob Anderson', datetime.date(1997, 9, 25), 'M27', 'T5')
('M3', 'Michael Johnson', datetime.date(1997, 11, 20), 'M1', 'T1')
('M30', 'Olivia Moore', datetime.date(1998, 12, 31), 'M29', 'T5')
('M31', 'Ethan Thompson', datetime.date(1994, 2, 7), 'M29', 'T5')
('M32', 'Emily Clark', datetime.date(1995, 5, 14), None, 'T6')
('M33', 'Jacob Lewis', datetime.date(1996, 8, 20), 'M32', 'T6')
('M34', 'Mia Rodriguez', datetime.date(1997, 11, 26), 'M32', 'T6')
('M35', 'Daniel Robinson', datetime.date(1993, 9, 3), 'M32', 'T6')
('M36', 'Ava Walker', datetime.date(1994, 12, 9), 'M34', 'T6')
('M37', 'William Turner', datetime.date(1995, 3, 16), 'M34', 'T6')
('M38', 'Sophia Williams', datetime.date(1996, 6, 22), 'M34', 'T6')
('M39', 'Jacob Anderson', datetime.date(1997, 9, 28), 'M35', 'T6')
('M4', 'Emily Davis', datetime.date(1998, 3, 25), 'M1', 'T1')
('M40', 'Mia Rodriguez', datetime.date(1997, 11, 28), 'M42', 'T7')
('M41', 'Ethan Thompson', datetime.date(1994, 2, 10), 'M44', 'T7')
('M42', 'Emily Clark', datetime.date(1995, 5, 16), 'M44', 'T7')
('M43', 'Jacob Lewis', datetime.date(1996, 8, 22), 'M41', 'T7')
('M44', 'Olivia Moore', datetime.date(1998, 1, 3), None, 'T7')
('M45', 'Daniel Robinson', datetime.date(1993, 9, 5), None, 'T8')
('M46', 'Ava Walker', datetime.date(1994, 12, 11), 'M45', 'T8')
('M47', 'William Turner', datetime.date(1995, 3, 18), 'M45', 'T8')
('M48', 'Sophia Williams', datetime.date(1996, 6, 24), 'M45', 'T8')
('M49', 'Jacob Anderson', datetime.date(1997, 9, 30), 'M46', 'T8')
('M5', 'Robert Wilson', datetime.date(1994, 7, 5), 'M1', 'T1')
('M50', 'Olivia Moore', datetime.date(1998, 1, 5), 'M46', 'T8')
('M51', 'Ethan Thompson', datetime.date(1994, 2, 12), 'M47', 'T8')
('M52', 'Emily Clark', datetime.date(1995, 5, 18), 'M48', 'T8')
('M53', 'Jacob Lewis', datetime.date(1996, 8, 26), None, 'T9')
('M54', 'Mia Rodriguez', datetime.date(1997, 11, 2), 'M53', 'T9')
('M55', 'Daniel Robinson', datetime.date(1993, 9, 7), 'M53', 'T9')
('M56', 'Ava Walker', datetime.date(1994, 12, 13), 'M54', 'T9')
('M57', 'William Turner', datetime.date(1995, 3, 20), 'M54', 'T9')
('M58', 'Sophia Williams', datetime.date(1996, 6, 26), 'M54', 'T9')
('M59', 'Jacob Anderson', datetime.date(1997, 9, 2), 'M55', 'T9')
('M6', 'Sarah Thompson', datetime.date(1995, 10, 12), 'M7', 'T2')
('M60', 'Olivia Moore', datetime.date(1998, 1, 7), 'M55', 'T9')
('M61', 'Emily Clark', datetime.date(1995, 5, 20), None, 'T12')
('M62', 'Jacob Lewis', datetime.date(1996, 8, 28), 'M61', 'T12')
('M63', 'Mia Rodriguez', datetime.date(1997, 11, 4), 'M61', 'T12')
('M64', 'Daniel Robinson', datetime.date(1993, 9, 9), 'M62', 'T12')
('M65', 'Ava Walker', datetime.date(1994, 12, 15), 'M62', 'T12')
('M66', 'William Turner', datetime.date(1995, 3, 22), 'M63', 'T12')
('M67', 'Sophia Williams', datetime.date(1996, 6, 28), 'M63', 'T12')
('M68', 'Jacob Anderson', datetime.date(1997, 9, 4), 'M63', 'T12')
('M69', 'Olivia Moore', datetime.date(1998, 1, 9), None, 'T14')
('M7', 'Christopher Brown', datetime.date(1996, 1, 18), None, 'T2')
('M70', 'Ethan Thompson', datetime.date(1994, 2, 14), 'M69', 'T14')
('M71', 'Emily Clark', datetime.date(1995, 5, 22), 'M69', 'T14')
('M72', 'Jacob Lewis', datetime.date(1996, 8, 30), 'M69', 'T14')
('M73', 'Mia Rodriguez', datetime.date(1997, 11, 6), 'M71', 'T14')
('M74', 'Daniel Robinson', datetime.date(1993, 9, 11), 'M71', 'T14')
('M75', 'Ava Walker', datetime.date(1994, 12, 17), 'M72', 'T14')
('M76', 'William Turner', datetime.date(1995, 3, 24), 'M72', 'T14')
('M77', 'Sophia Williams', datetime.date(1996, 6, 30), None, 'T15')
('M78', 'Jacob Anderson', datetime.date(1997, 9, 6), 'M77', 'T15')
('M79', 'Olivia Moore', datetime.date(1998, 1, 11), 'M77', 'T15')
('M8', 'Jessica Anderson', datetime.date(1997, 4, 24), 'M7', 'T2')
('M80', 'Ethan Thompson', datetime.date(1994, 2, 16), 'M79', 'T15')
('M81', 'Emily Clark', datetime.date(1995, 5, 24), 'M79', 'T15')
('M82', 'Jacob Lewis', datetime.date(1996, 9, 2), 'M76', 'T15')
('M83', 'Mia Rodriguez', datetime.date(1997, 11, 8), 'M76', 'T15')
('M84', 'Daniel Robinson', datetime.date(1993, 9, 13), 'M76', 'T15')
('M9', 'David Anderson', datetime.date(1994, 4, 12), 'M8', 'T2')